@media (max-width: 991px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0%;
    font-family: Poppins, sans-serif;
  }

  li {
    list-style: none;
  }

  .links {
    visibility: hidden;
  }

  .hamburger {
    display: block;
  }

  .logo {
    color: #394ae5;
    font-size: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    max-width: 20%;
  }

  .navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: 0;
    right: 0;
  }

  .header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    height: 100vh;
    background-image: url("images/header.png");
  }

  .headline {
    font-weight: 600;
    font-size: 2em;
  }

  .headline-description {
    font-weight: 100;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .connect {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #394ae5;
    text-transform: uppercase;
  }

  .social-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .works-mobile {
    display: grid;
    width: 100%;
    gap: 102px;
    align-items: center;
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .works {
    visibility: hidden;
    display: none;
  }

  .work-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
  }

  .img-container {
    padding: 16px;
  }

  .work {
    border: gray solid 0.3px;
    border-radius: 20px;
    background: white;
    padding: 0;
    display: block;
  }

  .work-container {
    margin: 10px;
  }

  .work-subtitle {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .work-title {
    font-weight: 400;
    font-size: 2em;
    color: black;
  }

  .work-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 16px;
    height: auto;
  }

  .tags {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
  }

  .tag {
    color: #6170ff;
    background-color: #ebebff;
    padding: 10px;
    border-radius: 10px;
  }

  .company {
    text-transform: uppercase;
    font-weight: bold;
  }

  .work-link {
    color: #394ae5;
    text-decoration: none;
    margin-top: 20px;
    font-size: medium;
    border: #394ae5 solid 1px;
    border-radius: 10px;
    padding: 10px;
  }

  .about-section {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 0 100px 0 0;
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .languages {
    width: 100%;
    margin-top: 40px;
  }

  ul,
  .languages {
    padding: 0;
  }

  hr {
    height: 0.2px;
    border: 0.2px solid gray;
    width: 100%;
  }

  .about-title {
    font-weight: 600;
    font-size: 3em;
    color: black;
  }

  .languages-title {
    font-weight: 600;
    font-size: 1.2em;
    color: gray;
    margin-top: 20px;
  }

  .languages-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .language-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .language-card {
    display: flex;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background: #f7f7f7;
  }

  .language-name {
    padding-left: 10px;
  }

  .about-work-link {
    color: #394ae5;
    text-decoration: none;
    margin-top: 20px;
    font-size: medium;
    border: #394ae5 solid 1px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .frameworks,
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    background: #394ae5;
    padding: 24px;
    background-image: url("images/contact-form-bg.png");
    background-size: cover;
    border-radius: 50px 0 0;
  }

  .contact-title {
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 2em;
    color: white;
  }

  .contact-subtitle {
    font-weight: 100;
    font-size: 1.2em;
    text-align: center;
    color: #d9dbff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    border-radius: 0 50px 0 0;
  }

  input {
    width: 95%;
    border-radius: 5px;
    border: 1px solid #394ae5;
    padding: 10px;
    margin-bottom: 10px;
  }

  .form-label {
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    display: none;
  }

  input:focus {
    outline: none;
  }

  textarea {
    width: 95%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #394ae5;
    padding: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    resize: none;
  }

  .submit {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #394ae5;
    padding: 10px;
    color: #394ae5;
    margin-top: 10px;
    background: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
  }

  .submit:hover {
    background: #394ae5;
    color: white;
    border: white solid 1px;
  }
}

@media (min-width: 992px) {
  .logo {
    color: #394ae5;
    font-size: 1.5em;
  }

  body {
    background: #f7f7f7;
    margin: 0%;
    font-family: Poppins, sans-serif;
  }

  .separator {
    width: 100%;
  }

  .navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background: white;
    top: 0;
    left: 0;
    right: 0;
  }

  .links,
  ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    display: flex;
  }

  .links li {
    margin-right: 20px;
  }

  a {
    color: #3447f7;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }

  .header {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 200px;
    height: 100vh;
    border-radius: 0 0 0 100px;
    background: white;
    background-size: contain;
    background-image: url("images/header.png");
  }

  .headline {
    font-weight: 600;
    font-size: 2em;
  }

  .headline-description {
    font-weight: 100;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .connect {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2em;
    color: #3347f4;
    text-transform: uppercase;
  }

  .social-links {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .works {
    display: grid;
    grid-template-columns: 3;
    gap: 142px;
    align-items: center;
    background-color: #f7f7f7;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .works-mobile {
    visibility: hidden;
    display: none;
  }

  .work {
    padding: 24px;
    border: gray solid 0.3px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    display: flex;
  }

  .work-link {
    color: #394ae5;
    text-decoration: none;
    margin-top: 20px;
    font-size: medium;
    border: #394ae5 solid 1px;
    border-radius: 10px;
    padding: 10px;
  }

  .work:hover .work-link {
    background-color: #394ae5;
    text-decoration: none;
    color: white;
    border: white;
  }

  .work-subtitle {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .work-title {
    font-weight: 600;
    font-size: 3em;
    color: black;
  }

  .work-details {
    align-items: center;
    padding-left: 46px;
    padding-right: 46px;
  }

  .tags {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
  }

  .tag {
    color: #3b4df6;
    background-color: #ebebff;
    padding: 10px;
    border-radius: 10px;
  }

  .company {
    text-transform: uppercase;
    font-weight: bold;
  }

  .about-section {
    display: flex;
    padding: 142px;
    background: white;
    border-radius: 0 100px 0 0;
  }

  .about {
    width: 100%;
    margin-right: 10px;
  }

  .languages {
    width: 57%;
    display: block;
  }

  hr {
    height: 0.2px;
    border: 0.2px solid gray;
    width: 100%;
  }

  .about-title {
    font-weight: 600;
    font-size: 3em;
    color: black;
  }

  .languages-title {
    font-weight: 600;
    font-size: 1.2em;
    color: black;
    margin-top: 20px;
  }

  .languages-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  .language-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .language-card {
    padding: 20px;
    width: 100px;
    border-radius: 10px;
    background: #f7f7f7;
  }

  .frameworks,
  .skills {
    display: flex;
    flex-wrap: wrap;
    color: black;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .about-work-link {
    color: #394ae5;
    text-decoration: none;
    margin-top: 20px;
    font-size: medium;
    border: #394ae5 solid 1px;
    border-radius: 10px;
    padding: 10px;
  }

  .about-work-link:hover {
    background-color: #4153fa;
    color: white;
  }

  .contact {
    display: flex;
    flex-direction: column;
    background: #394ae5;
    padding-top: 142px;
    padding-bottom: 100px;
    background-image: url("images/contact-form-bg.png");
    background-size: cover;
    border-radius: 100px 0 0;
  }

  .contact-title {
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-size: 4em;
    color: white;
  }

  .contact-subtitle {
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 10px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    border-radius: 0 50px 0 0;
  }

  .name-input {
    border-radius: 5px;
    border: 1px solid #394ae5;
    padding: 20px;
    margin-left: 296px;
    margin-right: 296px;
    margin-bottom: 40px;
  }

  .email-input {
    border-radius: 5px;
    border: 1px solid #394ae5;
    padding: 20px;
    margin-left: 296px;
    margin-right: 296px;
    margin-bottom: 40px;
  }

  .form-label {
    font-weight: 100;
    font-size: 1.2em;
    color: white;
    display: none;
    margin-left: 296px;
    margin-right: 296px;
    margin-bottom: 10px;
  }

  .submit {
    border-radius: 10px;
    border: 1px solid #394ae5;
    padding: 20px;
    color: #394ae5;
    margin-top: 10px;
    margin-left: 406px;
    margin-right: 406px;
    background: white;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
  }

  input:focus {
    outline: none;
  }

  textarea {
    height: 100px;
    border-radius: 5px;
    border: 1px solid #394ae5;
    padding: 10px;
    margin-left: 296px;
    margin-right: 296px;
    margin-bottom: 10px;
    resize: none;
  }

  .submit:hover {
    background: #394ae5;
    color: white;
    border: white solid 2px;
  }
}
